rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow read access only to the authenticated user
      allow read: if request.auth != null && request.auth.uid == userId;

      // Allow write access (create, update, delete) only to the authenticated user
      allow write: if request.auth != null && request.auth.uid == userId;

      // Allow account creation without authentication, but with validation
      allow create: if request.resource.data.emailAddress is string &&
                    request.resource.data.userName is string &&
                    request.resource.data.password is string &&
                    request.auth == null; // Add this line to allow creation without authentication

      // Allow querying the users collection to check for existing users during sign-up
      match /emailAddress/{emailAddress=**} {
        allow read: if request.auth == null; // Add this rule
      }

      match /userName/{userName=**} {
        allow read: if request.auth == null; // Add this rule
      }
    }

    // Deny all other reads and writes
    match /{document=**} {
      allow read, write: if false;
    }
  }
}